#Ignore all Files in here

#CPP - Files
*.o
*.out
*.snip

#Build Folder
**/Build/**
**/build/**
*.vscode/**


#Test-Files
*Test*.cpp
*test*.cpp

#Individual Files
CMakeLists.txt.user
run_build.sh
compile_commands.json
./idea/
cmake-build-debug/
run_build.sh
CMakeLists.txt.user
*.save
*.pro.*
*.sh
*.user
#Individual Files